@media (max-width: 991px) {
  .toggler {
    position: relative;
    display: block;

    .sider {
      &.left {
        position: absolute;
        transform: translateX(-200px);
        top: initial;
        z-index: 2;
        opacity: 0;
        min-width: 290px;
        transition: 0.3s;
        z-index: 2;
        &.active {
          transform: translateX(0px);
          opacity: 1;
        }
      }
    }
    .main-content {
      margin-top: 0px;
      z-index: 1;
    }
    .department {
      ul.nav-tabs {
        li {
          &:last-child {
            display: none;
          }
        }
      }
    }
  }
}
@media (min-width: 992px) {
  .main-container {
    .sider {
      &.left {
        overflow-x: hidden;
        width: 100%;
        transition: all 0.5s;
        // &.active {
        //   width: 100px;
        // }
      }
    }
  }
}
