.divider {
  background-color: var(--grey-800);
  border: 1.5px solid var(--grey-800);
  margin: 0.3rem;
  border-radius: 9999px;
}

.divider-lg {
  background-color: var(--grey-800);
  border: 1.5px solid var(--grey-800);
  margin: 0.4rem;
  border-radius: 9999px;
}

.divider-sm {
  background-color: var(--grey-600);
  border: 0.5px solid var(--grey-600);
  margin: 0.4rem;
  width: 80%;
  margin-inline: auto;
  border-radius: 9999px;
}

@keyframes pulse {
  50% {
    opacity: 0.5;
  }
}
.animate-pulse {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
