.post-item {
  color: var(--On-surface);
  .post-single-box {
    border-radius: 10px;
    padding: 15px;
    background-color: var(--Surface-container-low);
    box-shadow: 3px 3px 3px var(--Surface-container-highest);
    .top-area {
      .profile-area {
        .avatar-item {
          img {
            width: 48px;
            height: 48px;
          }
        }
        .info-area {
          a {
            color: var(--On-surface) !important;
            text-decoration: none;
          }
        }
      }
      .title {
        font-weight: 600;
        font-size: 20px;
      }

      .post-img {
        width: 100% !important;
        .single {
          flex: 0 0 calc(50% - 8px);
          align-self: center;
          img {
            width: 100%;
          }
          .avatar {
            position: relative;
          }
        }
      }
    }
    .hashtag {
      .badge {
        background-color: transparent !important;
        border: 1px solid var(--Tertiary);
        color: var(--Tertiary);
      }
    }
  }
  //PostReaction
  .react-list {
    button {
      background: none;
      border: none;
      color: var(--On-surface-3rd);
    }
  }
  .like-comment-share {
    border-top: 1px solid var(--Outline-variant);
    border-bottom: 1px solid var(--Outline-variant);
    button {
      background: transparent;
      border: transparent;
      color: var(--On-surface);
      &:hover {
        color: var(--Inverse-primary) !important;
      }
    }
  }

  //WriteComment
  .write-comment {
    margin-bottom: 20px;
    .input-group {
      border-radius: 10px;
      vertical-align: middle;
      background-color: var(--Surface-container-highest) !important;

      button {
        background-color: transparent !important;
        border: none !important;
        border-radius: 10px;
      }
      svg {
        color: var(--Primary);
        &:hover {
          color: var(--Inverse-primary);
        }
      }
    }
    .file-button {
      label {
        margin: 10px 4px;
      }
    }
    input {
      border-radius: 10px;
      &::placeholder {
        color: var(--On-surface-2nd) !important;
      }
    }
  }

  //Comments

  .comments-area {
    .top-area {
      border-radius: 20px;
      background: var(--Surface-container);
    }
    .main-area {
      margin: 5px 0;
      p {
        color: var(--On-surface);
        font-weight: 500;
      }
      a {
        color: var(--On-surface) !important;
        text-decoration: none;
        font-weight: 700;
      }
      .edit-comment-area {
        display: flex;
        gap: 10px;
        .input-group {
          input {
            background: var(--Surface-container);
          }
          &.editing-comment {
            background-color: var(--Surface-container-highest);
            border-radius: 10px;
            padding: 10px;
            input {
              background-color: var(--Surface-container-highest);
            }
          }
        }
      }
      svg {
        font-size: 25px;
        cursor: pointer;
        :hover {
          color: var(--Inverse-primary);
        }
      }
    }
    .like-share {
      li {
        position: relative;
        left: -25px;
        list-style: none;
      }
      button {
        background: none;
        border: none;
        color: var(--On-surface);
        &:hover {
          color: var(--Inverse-primary);
        }
      }
    }
    .single-comment-area {
      .parent-comment {
        position: relative;
      }
    }
    .sibling-comment,
    .only-child-comment {
      position: relative;
      padding-left: 72px;
    }
    .comment-item-nested {
      .avatar-item {
        position: relative;
      }
    }
    .comment-form {
      margin-top: 24px;
    }
  }
}
