//add new post input
.add-new-post {
  height: 60px;
  input {
    height: 55px;
    background-color: var(--Surface-container) !important;
  }
}

//slider
.people-carousel {
  background-color: transparent;
  .slick-arrow {
    opacity: 0;
    &.pull-right {
      position: absolute;
      top: 100px;
      z-index: 999;
    }
    &.pull-left {
      position: absolute;
      top: 100px;
      z-index: 999;
    }
  }
  &:hover {
    .slick-arrow {
      opacity: 0.8;
      &.pull-right {
        position: absolute;
        top: 100px;
        right: -5px;
        z-index: 999;
      }
      &.pull-left {
        position: absolute;
        top: 100px;
        left: -5px;
        z-index: 999;
      }
    }
  }

  //follow people card
  .slick-slide {
    .single-slide {
      position: relative;
      z-index: 1;
      .card {
        margin-inline: 3px;
      }
      .user-list-item {
        color: var(--On-surface);
        background: var(--Surface-container);
        border: transparent;
        border-radius: 10px;
        min-height: 220px;
        max-height: 220px;
        padding: 0.75rem;
        justify-content: center;
        text-align: center;
        //image follow people size
        .img-fluid {
          height: 60px;
          width: 60px;
        }
        .card-text {
          max-height: 30px;
        }
      }
    }
  }
}

.home-post {
  column-count: 2;
  .post-item {
    break-inside: avoid;
    .post-single-box {
      background-color: var(--Surface-container) !important;
      box-shadow: unset;
    }
  }
}

.post-item {
  margin-bottom: 0.75rem;
  color: var(--On-surface);
  .post-single-box {
    border-radius: 0.8rem;
    padding: 15px;
    background-color: var(--Surface-container-low);
    .top-area {
      .profile-area {
        .avatar-item {
          img {
            width: 48px;
            height: 48px;
          }
        }
        .info-area {
          a {
            color: var(--On-surface) !important;
            text-decoration: none;
          }
        }
      }
      .title {
        font-weight: 600;
        font-size: 20px;
      }
      .post-img {
        img {
          width: 100%;
        }
        .multiple {
          display: grid;
          width: 100%;
          grid-template-columns: repeat(2, 50%);
          column-gap: 10px;
        }

        .double {
          display: flex;
          column-gap: 10px;
          img {
            width: 50%;
          }
        }
        .only {
          width: 100%;
        }
      }
    }
    .hashtag {
      .badge {
        background-color: transparent !important;
        border: 1px solid var(--Tertiary);
        color: var(--Tertiary);
      }
    }
  }
  //PostReaction
  .total-react-share {
    display: flex;
    justify-content: space-between;
    .react-list {
      button {
        background: none;
        border: none;
        color: var(--On-surface-3rd);
        margin-right: 10px;
      }
    }
  }
  .like-comment-share {
    border-top: 1px solid var(--Outline-variant);
    border-bottom: 1px solid var(--Outline-variant);
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    margin: 1rem 0;
    button {
      background: transparent;
      border: transparent;
      color: var(--On-surface);
      svg {
        margin-right: 5px;
      }
      &:hover {
        color: var(--Inverse-primary) !important;
      }
    }
  }

  //WriteComment
  .write-comment {
    margin-bottom: 20px;
    .input-group {
      border-radius: 10px;
      vertical-align: middle;
      background-color: var(--Surface-container-highest) !important;

      button {
        background-color: transparent !important;
        border: none !important;
        border-radius: 10px;
      }
      svg {
        color: var(--Primary);
        &:hover {
          color: var(--Inverse-primary);
        }
      }
    }
    .file-button {
      label {
        margin: 10px 4px;
      }
    }
    input {
      border-radius: 10px;
      &::placeholder {
        color: var(--On-surface-2nd) !important;
      }
    }
  }

  //Comments

  .comments-area {
    .top-area {
      border-radius: 20px;
      background: var(--Surface-container);
    }
    .main-area {
      margin: 5px 0;
      p {
        color: var(--On-surface);
        font-weight: 500;
      }
      a {
        color: var(--On-surface) !important;
        text-decoration: none;
        font-weight: 700;
      }
      .edit-comment-area {
        display: flex;
        gap: 10px;
        .input-group {
          input {
            background: var(--Surface-container);
          }
          &.editing-comment {
            background-color: var(--Surface-container-highest);
            border-radius: 10px;
            padding: 10px;
            input {
              background-color: var(--Surface-container-highest);
            }
          }
        }
      }
      svg {
        font-size: 25px;
        cursor: pointer;
        :hover {
          color: var(--Inverse-primary);
        }
      }
    }
    .like-share {
      li {
        position: relative;
        left: -25px;
        list-style: none;
      }
      button {
        margin-right: 10px;
        background: none;
        border: none;
        color: var(--On-surface-2nd);
        &:hover {
          color: var(--Inverse-primary);
        }
      }
    }
    .single-comment-area {
      .parent-comment {
        position: relative;
      }
    }
    .sibling-comment,
    .only-child-comment {
      position: relative;
      padding-left: 72px;
    }
    .comment-item-nested {
      .avatar-item {
        position: relative;
      }
    }
    .comment-form {
      margin-top: 24px;
    }
    .avatar-item {
      img {
        border-radius: 50%;
        width: 40px;
        height: 40px;
      }
    }
  }
}
