// department tab------------------------------------------------
.department-page {
  .header-area {
    font-size: 1.2rem;
    font-weight: 600;
  }
  .department-cards {
    // display: grid;
    // grid-template-columns: repeat(auto-fit, minmax(250px, 49%));
    column-gap: 10px;
    column-count: 2;
    .department-card {
      cursor: pointer;
      margin: 0 0 1rem;

      .card {
        border: none;

        &:hover {
          background-color: var(--Surface-container-high);
        }
        // height: max-content;
        break-inside: avoid;
        background-color: var(--Surface-container);
        color: var(--On-surface);
        .card-header {
          border: none;
          color: var(--On-secondary-container);
          border-bottom: 1px solid var(--Surface-container-highest);
          font-weight: 600;
          min-height: fit-content;
          text-align: center;
        }
        // .card-body {
        //   min-height: fit-content;
        // }
        .department-info {
          display: flex;
          flex-wrap: wrap;
          gap: 5px;
          margin-bottom: 10px;

          .badge {
            background: transparent !important;
            border: 0.1px solid var(--Tertiary);
            color: var(--Tertiary);
            font-size: 0.8rem;
            font-weight: unset;
          }
        }
      }
    }
  }
}

//GroupDetail navtab
.group-detail {
  .nav-link {
    color: var(--On-surface-3rd);
    &.disabled {
      color: var(--On-surface-3rd);
      font-weight: 700;
      font-size: 24px;
    }
  }
  .group-area {
    border-bottom: none;
    position: fixed;
    top: 0;
    z-index: 1000;
    li {
      padding-block: 1rem;
      font-size: 1.2rem;
      border-bottom: none !important;
      &:last-child {
        a,
        button {
          &::before {
            display: none;
          }
        }
      }
      button {
        background-color: transparent !important;
        border-color: transparent !important;
        position: relative;

        &:hover {
          color: var(--Primary);
        }
        &.active {
          color: var(--Primary);
          font-weight: 600;
          font-size: 20px;
          border-bottom: 2px solid var(--Primary) !important;
        }
        &::before {
          position: absolute;
          content: "";
          width: 2px;
          height: 50%;
          background-color: var(--On-surface-3rd);
          right: 0;
        }
      }
    }
    .tab {
      top: 5rem;
    }
  }
  .member-tab {
    background-color: var(--Surface-container);
    border-radius: 15px;
    margin-top: 4rem;
    padding: 1rem;
    .top-area {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid var(--Outline-variant);
      margin-bottom: 10px;
      button {
        height: fit-content;
        margin-right: 5px;
      }
    }
    .header {
      font-weight: 600;
    }
  }
}

// post card
.group-post {
  column-count: 2;
  margin-top: 4rem;
  padding: 1rem;
  @include media-breakpoint-down(xl) {
    column-count: 1;
  }
}
.single-group-post {
  padding-bottom: 10px;
  break-inside: avoid;
  .card {
    border: none;
    color: var(--On-surface);
    background-color: var(--Surface-container);
    &:hover {
      background-color: var(--Surface-container-high);
    }
  }
  .card-header {
    font-weight: 700;
    border-bottom-color: transparent;
    .username {
      padding: 5px 0 !important;
    }
  }
  .card-img {
    aspect-ratio: 1/1;
    padding: 0 10px;
    height: calc(100% - 20px);
  }
  .card-body {
    .card-title {
      text-align: center;
      font-weight: 600;
    }
    .card-text {
      padding: 0 20px;
      text-align: justify;
    }
  }
  .hashtag {
    .badge {
      background-color: transparent !important;
      border: 1px solid var(--Tertiary);
      color: var(--Tertiary);
    }
  }
  .card-footer {
    border-top-color: transparent;

    .btn-footer {
      text-align: center;
    }
  }
}

.add-member-modal {
  color: var(--On-surface);
  .modal-body {
    height: 300px;
    overflow-y: scroll;
    margin-bottom: 10px;
    img,
    .avatar-placeholder {
      width: 30px;
      aspect-ratio: 1/1;
      border-radius: 10px;
    }
  }

  .modal-header {
    border-bottom: none;
    .btn-close {
      margin-left: unset;
    }
    .modal-title {
      margin-inline: auto;
      font-weight: 600;
    }
  }

  .search-bar {
    padding: 20px 20px 0;

    .search-icon {
      background-color: var(--Surface-container-highest) !important;
    }
  }
  .account-list {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    border-bottom: 1px dashed var(--Outline-variant);
    &:hover {
      background-color: var(--Surface-container);
      border-radius: 10px;
    }
    .account {
      gap: 10px;
      align-self: center;
    }
  }
  .form-check-input {
    background-color: transparent;
    border-color: var(--Primary);
    &:checked {
      background-color: var(--Inverse-primary);
    }
    &:disabled {
      background-color: var(--Surface-variant);
    }
  }
}

//profile

.profile-setting {
  color: var(--On-surface);
  background-color: var(--Surface-container);
  border-radius: 20px;
  margin: 0 10px;

  & > div {
    padding: 20px 0;
  }
  .row {
    margin: 10px 0 20px;
  }
  .avatar-area {
    position: relative;
    img {
      width: 200px;
      height: 200px;
      object-fit: cover;
      object-position: 50% 50%;

      border-radius: 20px;
      opacity: 1;
    }
    .change-avatar-icon {
      opacity: 0;
      position: absolute;
      top: calc(50%); //exclude div padding
      left: 50%;

      text-align: center;
    }
    &:hover {
      img {
        opacity: 0.3;
      }
      .change-avatar-icon {
        opacity: 1;
      }
    }
  }

  .info-area {
    .input-group {
      display: flex;
      align-items: center;
      label {
        font-weight: 600;
      }
      .form-control {
        border-radius: 10px;
        background: transparent;
      }
    }
    .txtsm {
      text-decoration: underline;
      color: var(--On-surface-2nd);
      cursor: pointer;
      &:hover {
        color: var(--Primary);
      }
    }
    .change-password {
      background-color: var(--Surface-container-high);
      border-radius: 20px;
      input {
        border-bottom: 1px solid var(--Outline-variant) !important;
        border-radius: unset !important;
      }
      .action {
        display: flex;
        justify-content: space-between;
      }
    }
  }
  .top-area {
    text-align: center;
    h3 {
      font-weight: 600;
      margin-top: 20px;
      color: var(--Primary);
    }
  }
}
