.login-form {
  background: transparent;
  border: none;

  .header {
    color: var(--Primary);
    padding: 0 30px;
    text-align: center;
    font-size: 3rem;
    font-weight: 900;
  }
  h2 {
    margin: 10px 0;
    color: var(--On-primary-container);
  }
  .row {
    height: 50px !important;
    margin: 20px 0;

    label {
      color: var(--Primary);
      font-weight: 700;
    }
    input,
    select {
      border: 1px solid var(--Primary);
      height: 45px;
      padding: 5px 0;
      background-color: transparent;
      border-radius: 10px;
      color: var(--On-surface);
      padding-left: 10px;
    }
    input[type="file"] {
      &::file-selector-button {
        display: none;
      }
    }
  }
  hr {
    color: var(--On-surface);
  }
  svg {
    margin: 0px 7px;
  }

  .btn-gg {
    background-color: var(--Noti-color);
    &:hover {
      background-color: var(--Error-container);
      color: var(--On-error-container);
    }
  }
  .sign-up-area {
    text-align: center;
    margin-top: 20px;
    .btn-sign-up {
      text-decoration: underline;
      background-color: transparent;
      border: transparent;
      color: var(--On-surface-2nd);
      &:hover {
        color: var(--Primary);
        background-color: var(--Inverse-primary);
        border-radius: 20px;
      }
    }
  }
  .radio-group {
    label {
      position: relative;
      margin: 0 40px;
      input {
        position: absolute;
        top: -10px;
        left: -30px;
        width: 18px;
        accent-color: var(--Primary) !important;
      }
    }
  }
  .error-message {
    color: var(--Error) !important;
  }
}

.sign-up-form {
  max-width: 1300px !important;

  // .success-page {
  //   .row {
  //     justify-content: center;
  //   }
  //   img {
  //     width: 200px;
  //   }
  //   h2 {
  //     color: var(--Primary);
  //     text-align: center;
  //     font-size: 3rem;
  //     font-weight: 900;
  //     align-self: center;
  //   }
  //   .message {
  //     width: 70%;
  //     border: 2px solid rgba(19, 21, 31, 0.8);
  //     border-radius: 16px;
  //     color: var(--active-color);
  //     padding: 0 30px;
  //     text-align: center;
  //     font-size: 3rem;
  //     font-weight: 700;
  //   }
  // }
}
