body {
  background: var(--Background);
  color: var(--On-background);
  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
}

// noti baloon
.abs-area {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: var(--Noti-color);
  text-align: center;
  line-height: 18px;
  font-weight: 500;
  color: var(--On-Noti) !important;
}

// action dropdown
.action-dropdown {
  .dropdown-toggle {
    background-color: transparent;
    &::after {
      display: none;
    }
  }
  .dropdown-menu {
    background-color: var(--Surface-container-highest);
    border: none;
  }
  .dropdown-item {
    color: var(--On-surface-variant);
    padding: 15px;
  }
  .dropdown-item:hover {
    background-color: transparent;
    color: var(--Inverse-primary);
  }
}

//button
.btn-primary {
  background-color: var(--Primary);
  color: var(--On-primary);
  border: transparent;
  &:hover {
    background-color: var(--Inverse-primary);
    color: var(--On-primary);
  }
}

.btn-outline-primary {
  border: 1px solid var(--Primary) !important;
  color: var(--On-primary-container);
  background-color: transparent;
  &:hover {
    border: transparent;
    background-color: var(--Primary);
    color: var(--On-primary);
  }
}

.btn-accept {
  border-radius: 20px;
  border: transparent;
  color: var(--On-primary-container);
  background-color: var(--Primary-container);
  &:hover {
    background-color: var(--Inverse-primary);
    color: var(--On-primary);
  }
}

.btn-transparent {
  border: transparent !important;
  background-color: transparent !important;
  &:hover {
    background-color: var(--Inverse-primary) !important;
    color: var(--On-primary) !important;
  }
}
.btn-delete {
  border-radius: 20px;
  border: transparent;
  color: var(--On-tertiary-container);
  background-color: var(--Tertiary-container);
  height: 30px;
  &:hover {
    background-color: var(--Tertiary-container);
    color: var(--On-tertiary);
  }
}

.btn-action {
  top: -10px;
  left: 55px;
  width: fit-content;
  height: 30px;
}

//cmn button
.cmn-btn {
  cursor: pointer;
  color: var(--Primary);
  .icon-area {
    width: 50px;
    height: 50px;
    svg {
      width: 24px;
      height: 24px;
      margin: 13px;
    }
  }
  .abs-area {
    right: initial;
    top: -1px;
    left: -1px;
  }
}

//input field
.input-group {
  // border-radius: 15px;
  input {
    &::placeholder {
      color: var(--On-surface-3rd);
    }
  }
  .input-group-text {
    border: transparent;
    background-color: var(--Surface-container);
  }
}

/* inline icon */
.inline-icon {
  background-color: transparent;
  border: transparent;
  color: var(--Primary);
}

//modal
//add new post modal
.modal {
  .modal-title {
    padding-top: 20px;
    color: var(--Primary);
    font-weight: 600;
    text-align: center;
  }
  .modal-content {
    background: var(--Surface-container-high);
    border: transparent !important;
  }
  .modal-footer {
    border: transparent !important;
  }
  .modal-body {
    .preview-image {
      display: flex;
      column-gap: 30px;
      .single-image {
        position: relative;
        img {
          width: 90px;
          margin-top: 10px;
        }
        svg {
          position: absolute;
          color: var(--On-primary);
          top: 10px;
          right: 3px;
          &:hover {
            color: var(--Inverse-primary);
          }
        }
      }
    }
  }
}
.add-new-post {
  height: 60px;
  padding: 0 5px;
  input {
    height: 55px;
    background-color: var(--Surface-container) !important;
  }
}
.post-modal {
  form {
    label {
      color: var(--Tertiary);
      font-weight: 600;
    }
    .row {
      margin: 10px;
    }
    textarea,
    input {
      border: transparent;
      background-color: var(--Surface-container-low);
      color: var(--On-surface);
      border-radius: 10px;
      &::placeholder {
        color: var(--On-surface-3rd);
      }
    }
    input[type="file" i] {
      height: 45px;
      &::file-selector-button {
        display: none;
      }
      color: var(--On-surface-3rd);
    }
  }
}

//form control
.form-control-text {
  &::placeholder {
    color: var(--On-surface-3rd);
  }
}

.form-control {
  border: transparent;
  background-color: var(--Surface-container-highest);
  box-shadow: none;
  color: var(--On-surface);
  &:focus {
    color: var(--Primary);
    border-color: none;
    box-shadow: none;
    background-color: var(--Surface-container-highest);
  }
}

// text
.txtlg {
  font-size: 18px !important;
}
.txtsm {
  font-size: 14px !important;
}

.txt-2nd {
  color: var(--On-surface-2nd) !important;
}
.txtmuted {
  color: var(--On-surface-3rd) !important;
}

//PersonCard
.person-card {
  &:last-child {
    margin-bottom: 20px;
  }
  .card {
    color: var(--On-surface);
    background-color: var(--Surface-container-highest);
    border-radius: 15px;
    margin: 10px 0;
    border: none;
  }
  .remove-btn {
    border: none;
  }
  .card-img,
  .avatar-placeholder {
    width: 80px;
    aspect-ratio: 1/1;
    border-radius: 10px;
    p {
      font-size: 30px;
    }
  }
}

// .selection {
//   label {
//     display: block;
//     input:before {
//       content: "";
//       display: inline-block;
//       position: relative;
//       height: 20px;
//       width: 20px;
//       border: 2px solid rgba(255, 255, 255, 0.18);
//       border-radius: 4px;
//       background-color: transparent;
//       margin-right: 15px;
//       margin-left: 10px;
//       vertical-align: middle;
//     }
//   }
// }
