//------------- Navbar --------------------------------

.header-section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  .container {
    background-color: var(--Surface-container);
    border-radius: 20px;
  }

  &.header-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    border-bottom: none;
    .container {
      background-color: var(--Surface-container);
      border-radius: 20px;
    }
  }
  .logo {
    width: 50px;
  }

  .search-bar {
    align-self: center;
    margin-left: -10px;
    margin-right: 20px;
    height: 40px;
    input {
      background-color: var(--Surface-container-high);
      border-radius: 20px;
    }
    .search-button {
      background-color: var(--Surface-container-high);
      border-radius: 20px;
    }
  }

  .navbar-nav {
    .nav-item {
      a {
        align-items: center;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 600;
        color: var(--On-surface-variant);
      }
      .nav-link:hover {
        color: var(--On-secondary-container);
        background-color: var(--Secondary-container);
        border-radius: 20px;
      }
    }
  }

  .right-area {
    .switch {
      color: var(--Primary);
    }
    .ant-switch-checked {
      background-color: var(--Tertiary);
      &:hover {
        background-color: var(--Tertiary);
      }
    }
    .single-item {
      .main-area {
        position: absolute;
        top: 50px;
        white-space: nowrap;
        right: 0;
        transform: translateY(150px);
        background: var(--Surface-container-highest);
        border-radius: 10px;
        opacity: 0;
        transition: 0.3s;
        visibility: hidden;
        overflow-x: auto;
        max-height: 70vh;
        z-index: 9999;
      }
      &.active {
        .main-area {
          opacity: 1;
          visibility: visible;
          transform: translateY(0px);
        }
      }
      .profile-pic {
        img {
          width: 45px;
          height: 45px;
          border-radius: 50%;
        }
        .avatar {
          &::before {
            position: absolute;
            content: "";
            width: 16px;
            height: 16px;
            background: var(--Active-color);
            border-radius: 50%;
            top: -4px;
            left: -4px;
          }
        }
      }

      &.profile-area {
        .profile-content {
          .avatar-img {
            width: 50px;
            height: 50px;
          }
        }
        .text-area {
          h6 {
            color: var(--On-primary-container);
            font-weight: 600;
          }
          p {
            color: var(--On-primary-container);
          }
        }
        .view-profile {
          a {
            background-color: var(--Surface-container);
            color: var(--Primary);
            text-decoration: none;
            border-radius: 10px;
            &:hover {
              background-color: var(--Surface-tint);
              color: var(--On-primary);
            }
          }
        }
        ul {
          list-style: none;
          a {
            display: flex;
            align-items: center;
            gap: 8px;
            margin: 16px 0;
            color: var(--On-surface);
            text-decoration: none;
            &:hover {
              color: var(--Primary);
            }
          }
        }
      }
    }
  }
  .messages-area {
    .main-area {
      h5 {
        color: var(--On-surface);
        font-weight: 600;
      }
    }
    .avatar-img {
      border-radius: 15px;
      width: 45px;
      height: 45px;
      &::before {
        display: none;
      }
    }
    .text-area {
      h6 {
        font-weight: 600;
        color: var(--On-surface);
      }
      .abs-area {
        right: -25px;
      }
    }
    a {
      color: var(--On-surface);
      text-decoration: none;
    }
    .btn-area {
      a {
        color: var(--On-primary-container);
      }
    }
  }
}

//------------- Left Sider --------------------------------
.sider {
  height: 100vh;
  background-color: var(--Surface-container);
  border-radius: 20px;
  display: flex;
  &.left {
    .navbar-nav {
      display: block;
      align-self: self-start;
      .sidebar-item {
        &:hover {
          background-color: var(--Secondary-container);
          border-radius: 10px;
        }
        &:active {
          color: var(--On-secondary-container);
        }
        a {
          border-radius: 20px;
          color: var(--On-surface-variant);
          display: flex;
          align-self: center;
          text-transform: uppercase;
          font-size: 16px;
          letter-spacing: 1px;
          font-weight: 600;
        }
        svg {
          color: var(--On-surface-variant);
          align-self: center;
          margin: 0 10px;
        }
      }
    }
  }
}

//------------- Right Sider --------------------------------

.sider {
  &.right {
    .navbar-nav {
      display: block;
      .sidebar-item {
        &:first-child {
          border-bottom: 1px solid var(--Outline-variant);
        }
      }
    }
    .avatar-img {
      width: 45px;
      height: 45px;
    }

    h5 {
      font-weight: 600;
      color: var(--On-surface-variant);
    }
    h6 {
      font-weight: 600;
      color: var(--On-surface-variant);
    }
    a {
      text-decoration: none;
      color: var(--On-surface-variant);
      &:hover {
        color: var(--Inverse-primary);
      }
    }
    .abs-area {
      width: 20px;
      height: 20px;
      background: var(--Noti-color);
      border-radius: 50%;
      color: var(--On-surface);
    }
  }
}

//------------- Request & Contact --------------------------------

.request-card {
  .profile-pic {
    a {
      &:hover {
        color: var(--Inverse-primary);
      }
    }
  }
  .friends-list {
    ul {
      margin-left: -25px;
    }
    li {
      margin-left: -8px;
      list-style: none;
    }
    img {
      width: 25px;
      height: 25px;
      border-radius: 50%;
    }
    span {
      margin-left: -8px;
      color: var(--On-surface-variant);
    }
  }
}
