//navbar
.navbar {
  height: 4rem;
  padding-inline: 1rem;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: calc(100% - 24rem);
  background-color: var(--Body) !important;
  border-bottom: 1px solid var(--Surface-container-high);
  opacity: 1;
  z-index: 1000;

  .search-bar {
    height: 100%;
    display: flex;

    .input-group {
      border-radius: 1rem;
      align-self: center;
    }
    input {
      border-radius: 0.5rem;
      background-color: var(--Surface-container-highest);
      &:focus {
        background-color: var(--Surface-container-highest);
      }
    }
    .search-button {
      background-color: var(--Surface-container-highest);
      border-radius: 0.5rem;
    }
  }

  .icon-items {
    display: flex;
    gap: 1rem;
  }
}
.profile-pic {
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    width: 3rem;
    height: 3rem;
    margin-top: 0.5rem;
    margin-bottom: 0.3rem;
  }
}
.siderbar-item {
  position: relative;
}
.sider-badge {
  content: "";
  position: absolute;
  right: 0.3rem;
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 50%;
  background-color: var(--Error-container);
  text-align: center;
  line-height: 0.7rem;
  font-weight: 500;
}
