:root {
  --body-color: #15202b;
  --body-2nd-color: #0f161eac;
  --text-primary-color: #ffffff;
  --text-2nd-color: #8899a6;
  --text-3rd-color: #434d55;
  --primary-color: #0085ff;
  --highlight-color: #ff4949;
  --highlight-2nd-color: #3e3e3e;
  --card-color: #192734;
  --hover-color: #293a49;
}
